body{
    background: url('images/watercolor.jpg') no-repeat fixed;
    background-size: cover;
    height: 100%;
    margin: 0;
    font-family: 'Roboto Slab', serif;
    font-family: 'Lora', serif;
}

h1, h2, p{
    margin: 0;
}

p{
    line-height: 1.5;
    font-size: 1.1em;
}

img{
    display: inline-block;
    max-width: 100%;
}

a{
    display: inline-block;
    text-decoration: none;
    color: #000000;
    transition: ease .8s all;
    padding: 5px 10px;
    border:  1px solid #00000059;
}

a:visited{
    color: #000;
}

a:hover{
    color: #8500D4;
    font-weight: 700;
    border:  1px solid #8500D4;
    background: #68cbf0;
}

  
 
  .hamburger-container #menu-toggle {
    display: none;
  }
  .hamburger-container .menu-toggle-label {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
    margin: 0 5%;
    padding-top: 2%;
    width: 70px;
  }
  .hamburger-container .menu-toggle-label:hover .line {
    transition: all 0.5s ease;
    background: #8500D4;

  }
  .hamburger-container .menu-toggle-label:hover .line:nth-child(1) {
    width: 70px;
  }
  .hamburger-container .menu-toggle-label:hover .line:nth-child(2) {
    width: 70px;
    opacity: 0.7;
  }
  .hamburger-container .menu-toggle-label:hover .line:nth-child(3) {
    width: 70px;
  }
  .hamburger-container .menu-toggle-label .line {
    transition: all 0.5s ease;
    margin: 3px 0;
    height: 5px;
    width: 100px;
    border-radius: 5px;
    background-color: #117A65;
  }
  .hamburger-container .menu-toggle-label .line:nth-child(1) {
    width: 50px;
  }
  .hamburger-container .menu-toggle-label .line:nth-child(2) {
    width: 36px;
  }
  .hamburger-container .menu-toggle-label .line:nth-child(3) {
    width: 25px;
  }

main{
 height: 85vh;
 width: 100%;
 background: white;
 margin: 15% 0 0 0;  
}

@media all and (min-width: 500px){
    main{
        margin: 10% 0 0 0;
    }
}

@media all and (min-width: 1000px){
    main{
        margin: 5% 0 0 0;
        width: 90%;
    }
}

header{
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;

}

@media all and (min-width: 500px){
    header{
        flex-direction: row;
    }
}

.info {
    /* margin-right: -10%; for desktop*/
    z-index: 99;
 
}

@media all and (min-width: 500px){
    .info{
        margin-right: -10%;
    }
}

@media all and (min-width: 1000px){
    .info{
        margin-left: 20%;
    }
}



.info h1{
    font-size: 2.3em;
}

@media all and (min-width: 1000px){
    .info h1{
        font-size: 3.3em;
    }
}

.info h2{
    color: #8500D4;
    font-size: 1.3em;
    margin-bottom: 10%;
}

.contact{
    margin: 10% 0 0 0 ;
}

.contact h2, .work h2{ 
    color: #5f5f5f;
    font-weight: 300;
    margin: 0;
    margin: 8% 0 2%;
    
}

.image-mask{
     background-size: cover;
     background: url('images/watercolor.jpg') no-repeat fixed;
     /* background-position: center; */
     text-align: center;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;    
     font: 700 39vw 'Open Sans', sans-serif;
     font-family: 'Montserrat', sans-serif;
     order: -1;
     transition: ease .5s all;
}

.image-mask:hover{
    background-position: center;
}

@media all and (min-width: 500px){
    .image-mask{
        order: 2;
    }
}

section{
    margin-top: 15vh;
    width: 90%;
    /* margin:  15vh auto; */
    background: #ffffff;
    margin: 15vh auto auto 0;
    
}

.about-me{
    padding: 10% 9%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

@media all and (min-width: 766px){
    .about-me{
        flex-direction: row;
    }

}

.about-me-description {
    
}

@media all and (min-width: 766px){
    .about-me-description {
        width: 40%;
        max-width: 700px;
    }

}

.about-me h1{
    font-size: 2.3em;
    color: #8500D4;
    margin-bottom: 2%;
}

@media all and (min-width: 766px){
    .about-me h1{
        font-size: 3.3em;  
    }

}

.about-me h2{
    color: #000000;
    font-size: 1.3em;
}

.about-me .about-me-summery {
    margin-bottom: 10%;
}

.about-me p{
    margin-bottom: 3%;
}

.skills{
    margin-bottom: 3%;

}

.self img{
    background: blue;
}

footer{
    background: #ffffff;
    margin-top: 15vh;
    padding: 2% 15%;
}